<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>771775233522-nep4kfv5uiq5h4ca7a16i5rou9mjdsfg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.771775233522-nep4kfv5uiq5h4ca7a16i5rou9mjdsfg</string>
	<key>API_KEY</key>
	<string>AIzaSyAohWl10OeC4q5Fo3yZiZtpD3rTpNBVNbY</string>
	<key>GCM_SENDER_ID</key>
	<string>771775233522</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.flutter.Sample</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-71fd5</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-71fd5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:771775233522:ios:77be3c10bd134d3b</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-sample-71fd5.firebaseio.com</string>
</dict>
</plist>